<div class="panel panel-primary">
    <div class="panel-heading">
        IMPORTATION DES NOTES
    </div>
    <div class="panel-body">

        <form id="form" name="form" novalidate="novalidate">
            <div id="form-views" data-ui-view="importation">
                A simple content here
            </div>
        </form>

    </div>
    <div class="panel-footer" ng-hide="isLastStep()">
        <!-- A set of button needed for the navigation -->
        
        <button class="btn btn-primary" ng-click="handlePrevious()" ng-show="!isFirstStep()">Back</button>
        <button class="btn btn-primary" ng-click="handleNext(form, dismiss)"> <span class="glyphicon glyphicon-circle-arrow-right"></span> {{getNextLabel()}}</button>
    </div>
</div>