<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestion des notes</title>
    <link href="../static/css/bootstrap.css"  th:href="@{css/bootstrap.css}"  rel="stylesheet"/>
    <link href="../static/css/bootstrap-theme.css" th:href="@{css/bootstrap-theme.css}" rel="stylesheet"/>
    <link href="../static/css/notes.css" rel="stylesheet" th:href="@{css/notes.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <div class="row-fluid" id="main">
        <div class="col-xs-10 col-md-offset-1">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="alert alert-danger">
                        <img src="../static/img/403forbiddenerror.jpg" alt="403 Forbidden" srcset="">
                        <span style="text-align: center;">Access denied</span>
                    </div>
                </div>
            </div>
            <footer>
                &copy; Tous droits reserv&eacute;s
            </footer>
        </div>
    </div>
</body>
</html>
