<div>
    <h3 class="titre">LA LISTE DES UTILISATEURS</h3><br/>
    <table class="table table-bordered table-hover table-condensed table-striped">
        <thead>
            <tr class="success">
                <th>N<sup>o</sup></th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Role</th>
                <th>Départements</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="utilisateur in utilisateurs" class="inverse">
                <td>{{$index + 1}}</td>
                <td>{{utilisateur.nom}}</td>
                <td>{{utilisateur.prenom}}</td>
                <td>{{utilisateur.email}}</td>
                <td>{{utilisateur.role}}</td>
                <td> <ul class="inline-elements"><li ng-repeat="dep in utilisateur.departements"> {{dep.code}} </li></ul> </td>                
                <td>
                    <button class="btn btn-primary btn-xs" ng-click="editer(utilisateur, $index)"><span class="glyphicon glyphicon-edit"></span> Editer</button>
                    <button class="btn btn-danger btn-xs" ng-click="supprimer(utilisateur, $index)" ng-show="utilisateur.active === 1"><span class="glyphicon glyphicon-eye-close"></span> Desactiver</button>
                    <button class="btn btn-danger btn-xs" ng-click="activate(utilisateur, $index)" ng-show="utilisateur.active === 0"><span class="glyphicon glyphicon-eye-open"></span> Activer</button>
                    <button class="btn btn-primary btn-xs" ng-click="resetPassword(utilisateur, $index)" ng-show="utilisateur.active === 1"><span class="glyphicon glyphicon-refresh"></span> Reinitialiser</button>
                </td>
            </tr>
        </tbody>
    </table>
    <form>
        <button class="btn btn-primary" ng-click="afficherFenetre({}, undefined)"><i class="glyphicon glyphicon-save"></i>Ajouter</button>
    </form>
</div>