<div>
    <h3 class="titre">LA LISTE DES UTILISATEURS</h3><br/>
    <table class="table table-bordered table-hover table-condensed table-striped">
        <thead>
            <tr class="success">
                <th>N<sup>o</sup></th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Role</th>
                <th>Départements</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="utilisateur in utilisateurs" class="inverse">
                <td>{{$index + 1}}</td>
                <td>{{utilisateur.nom}}</td>
                <td>{{utilisateur.prenom}}</td>
                <td>{{utilsateur.email}}</td>
                <td>{{utilisateur.role}}</td>
                <td> <span ng-repeat="dep in utilisateur.departements">{{dep.code}}</span> </td>                
                <td>{{$index + 1}}</td>
                <!--<td>{{utilisateur.intitule}}</td>
                <td>{{utilisateur.niveau.code}}</td>
                <td><a ng-click="afficherFenetre(semestre)">Modifier</a> | <a ng-click="supprimerSemestre(semestre)">Supprimer</a></td> -->
            </tr>
        </tbody>
    </table>
    <form>
        <button class="btn btn-primary" ng-click="afficherFenetre(undefined)"><i class="icon-user"></i>Ajouter</button>
    </form>
</div>